.App {
  text-align: center;
  
  background-color: #242424;
  color: #fcfffb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  transition: all 0.4s ease-in-out;
}

body {
  font-family:
      Inter,
      "M PLUS 1p",
      "M PLUS Rounded 1c",
      "Noto Sans JP",
      -apple-system;
  user-select: none;
}

a:hover{
  color: #df929b;
}



.App-header {
  background:url("./assets/hero3.jpg") no-repeat center center ;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  animation-name: fadeInAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.WorcCloudimage {
  border-radius: 50px;
  background: #63EA32;
  box-shadow:  20px 20px 60px #54c72b,
               -20px -20px 60px #72ff3a;
  }




/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
